* {
  font-family: 'Amatic SC', cursive;
  font-size: 1.1em;

}
body {
  margin: 0;
  padding: 0;

}
/*NAVBAR*/

.navbar-fixed-top {
  background-color: white;
}
.navbar-fixed-top ul li a, .navbar-brand {
  color: black;
}
.navbar-fixed-top ul li a:hover {
}

/**FIN NAVBAR/
/*VIDEO*/

.homepage-hero-module {
  border-right: none;
  border-left: none;
  position: relative;
}
.no-video .video-container video,
.touch .video-container video {
  display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
  display: block !important;
}
.video-container {
  position: relative;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #000;
}
.video-container .poster img {
  width: 100%;
  bottom: 0;
  position: absolute;
}
.video-container .filter {
  z-index: 100;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
}
.video-container video {
  position: absolute;
  z-index: 0;
  bottom: 0;
}
.video-container video.fillWidth {
  width: 100%;
}
/**FIN VIDEO/

/*WELCOME TEXT*/
.text-container{
	z-index: 2;
	position: relative;
	/*top: 0;
	right: 0;
	bottom: 0;
	left: 0;*/
	color: #fff;
}


.text h1 {
  margin: 20%;
  padding: 5%;*/
  height: auto;
  text-align: center;
  font-weight: bold;
  font-size: 6em;
}


/*BLOCK 2 VOYAGES*/

/*FIN BLOCK 2*/

/*BLOCK 3 RECETTES*/

#recettes {
  height: 100%;
  text-align: center;
  width: 100%;
  height: 100%;
  font-family: 'Amatic SC', cursive;
}

h2 {
  text-align: center;

}

.image {
  width: 30%;
  height: 30%;
  margin: auto;
  padding: 5px;
  opacity: 1;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  text-align: center;
}

.image:hover {
  opacity: 0.3;
}
